<ion-view style="" title="Shopping-Liste">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
      <div style="height: 5px;" class="spacer"></div>
          <div style="height:35px; font-size:20px"><center>Shopping List</center></div>
          <div style="height: 5px;" class="spacer"></div>
          <ion-list type="list">
            <ion-item ng-repeat="(key, product) in productsShplist">
                  <div style="float:left; margin: 0 auto">
                      {{$index+1}} |
                  </div>
          <div style="padding-left:10px;float:left; width:150px; margin: 0 auto">
                  {{product.ProName}}
                  </div>
                  <div style="padding-left:20px; margin-top:0px; float:left">

          <button class="button button-balanced button-small button-outline">
            +
          </button>
            {{product.pivot.ProAnz}}
          <button class="button button-assertive button-small button-outline">
            -
          </button>
                  </div>
                  <div>
          <ion-option-button class="button-positive"><i class="ion-trash-a"></i></ion-option-button>
          <ion-option-button class="button-assertive"><i class="ion-clipboard"></i></ion-option-button>
                  </div>
        </ion-item>
      </ion-list>
        <div style="height: 100px;" class="spacer"></div>
        <button class="button button-positive  button-block" id="eListe-button6">Einkauf ins Inventory</button>
    </ion-content>
</ion-view>
