<ion-view style="" title="Inventory">
  <ion-content class="has-header" scroll="true" overflow-scroll="true" padding="true">
    <a class="button button-large button-positive button-block " href="#/page4/page6">Scanner</a>
    <hr>
    <div style="height: 5px;" class="spacer"></div>
    <div style="height:35px; font-size:20px"><center>Inventory</center></div>
    <div style="height: 5px;" class="spacer"></div>
    <ion-list type="list">
      <ion-item ng-repeat="(key, product) in productsInv">
        <div style="float:left; margin: 0 auto">
          {{$index+1}} |
        </div>
        <div style="padding-left:10px;float:left; width:190px; margin: 0 auto">
          {{product.ProName}}
        </div>
        <div style="padding-left:20px; margin-top:0px; float:left">

          <button class="button button-balanced button-small button-outline" ng-click="countFunction('{{product.id}}','+')">
            +
          </button>
          <div id="proanz_{{product.id}}">{{product.pivot.ProAnz}}</div>
          <button class="button button-assertive button-small button-outline" ng-click="countFunction('{{product.id}}','-')">
            -
          </button>
        </div>
        <div>
          <ion-option-button class="button-assertive" ng-click="deleteProductFromInventory(product.pivot.product_id,product.pivot.inventory_id)"><i class="ion-trash-a"></i></ion-option-button>
          <ion-option-button class="button-positive" ng-click="transferToShoppingList(product.pivot.product_id,product.pivot.inventory_id)"><i class="ion-clipboard"></i></ion-option-button
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
