<ion-view style="" title="Kamera">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <div style="width: 287px; height: 257px;" class="spacer"></div>
        <a class="button button-positive  button-block" id="kamera-button7" ui-sref="tabsController.scanErgebnis">Kamera hat code gescannt</a>
        <a class="button button-positive  button-block" id="kamera-button13" ui-sref="tabsController.keinCodeInDBVorhanden">kein code in db gefunden</a>
    </ion-content>
</ion-view>