<ion-view style="" title="kein code in DB vorhanden">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Input</span>
                <input placeholder="" type="text">
            </label>
        </form>
        <form style="" class="list">
            <ion-toggle style="" toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-radio style="">Radio</ion-radio>
            <label style="" class="item item-input">
                <span class="input-label">Input</span>
                <input placeholder="" type="text">
            </label>
        </form>
        <div style="height: 100px;" class="spacer"></div>
        <button class="button button-positive  button-block" id="keinCodeInDBVorhanden-button14">Produkt anlegen und ins inventar</button>
    </ion-content>
</ion-view>