<ion-view style="" title="Login">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <a class="button button-stable  button-block" id="login-button1" ui-sref="tabsController.inventory">Log in</a>
            <a class="button button-positive  button-block button-clear" id="login-button2" ui-sref="signup">Or create an account</a>
        </form>
    </ion-content>
</ion-view>