<ion-view style="" title="Profile">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img class="ion-person"></img>
                <h2>Profil</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <button class="button button-positive  button-block" id="profile-button10">Kennwort ändern</button>
        <button class="button button-positive  button-block" id="profile-button11">Logout</button>
        <div style="width: 287px; height: 196px;" class="spacer"></div>
        <button class="button button-positive  button-block" id="profile-button12">Account löschen</button>
    </ion-content>
</ion-view>
