<ion-view style="" title="Scan-Ergebnis">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" class="item-thumbnail-left">
                <img>
                <h2>Produkt biild + infos</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <button class="button button-positive  button-block" id="scanErgebnis-button8">auf einkaufsliste</button>
        <button class="button button-positive  button-block" id="scanErgebnis-button9">Ins inventar</button>
    </ion-content>
</ion-view>