<ion-view style="" title="Signup">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <form style="" class="list">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">Name</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Username</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">Password Bestätigen</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
            <a class="button button-stable  button-block" id="signup-button3" ui-sref="tabsController.inventory">Sign up</a>
        </form>
    </ion-content>
</ion-view>