<ion-view style="" title="Start">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <a class="button button-positive  button-block" id="start-button4" ui-sref="login">LogIn</a>
        <a class="button button-positive  button-block" id="start-button5" ui-sref="signup">SIgnUp</a>
    </ion-content>
</ion-view>